# Student Loan Risk with Deep Learning

In [24]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [25]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [26]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [27]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [28]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"].values

# Display a sample of y
y[:5]

array([0, 0, 0, 1, 0], dtype=int64)

In [29]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.copy()
X.drop("credit_ranking", axis=1, inplace=True)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [30]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [31]:
# Create a StandardScaler instance

scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

11

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Define the number of neurons in the output layer
n_outputs = 1

In [34]:
# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2,activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=n_outputs, activation = "sigmoid"))

In [35]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 72

 dense_4 (Dense)             (None, 3)                 21

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [36]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [37]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 755us/step - loss: 0.6857 - accuracy: 0.5897
Epoch 2/50
38/38 [==============================] - 0s 809us/step - loss: 0.6722 - accuracy: 0.6330
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6637 - accuracy: 0.6722
Epoch 4/50
38/38 [==============================] - 0s 755us/step - loss: 0.6558 - accuracy: 0.6806
Epoch 5/50
38/38 [==============================] - 0s 809us/step - loss: 0.6470 - accuracy: 0.6939
Epoch 6/50
38/38 [==============================] - 0s 782us/step - loss: 0.6375 - accuracy: 0.7089
Epoch 7/50
38/38 [==============================] - 0s 782us/step - loss: 0.6291 - accuracy: 0.7198
Epoch 8/50
38/38 [==============================] - 0s 809us/step - loss: 0.6209 - accuracy: 0.7239
Epoch 9/50
38/38 [==============================] - 0s 889us/step - loss: 0.6143 - accuracy: 0.7239
Epoch 10/50
38/38 [==============================] - 0s 863us/step - loss: 0.6074 - accuracy: 0.7389
Epoch 11/50
38/38 [==============================] - 0s 970us/step - loss: 0.6017 - accuracy: 0.7423
Epoch 12/50
38/38 [==============================] - 0s 782us/step - loss: 0.5968 - accuracy: 0.7440
Epoch 13/50
38/38 [==============================] - 0s 809us/step - loss: 0.5927 - accuracy: 0.7481
Epoch 14/50
38/38 [==============================] - 0s 755us/step - loss: 0.5891 - accuracy: 0.7515
Epoch 15/50
38/38 [==============================] - 0s 809us/step - loss: 0.5859 - accuracy: 0.7531
Epoch 16/50
38/38 [==============================] - 0s 782us/step - loss: 0.5818 - accuracy: 0.7540
Epoch 17/50
38/38 [==============================] - 0s 822us/step - loss: 0.5783 - accuracy: 0.7565
Epoch 18/50
38/38 [==============================] - 0s 836us/step - loss: 0.5753 - accuracy: 0.7540
Epoch 19/50
38/38 [==============================] - 0s 836us/step - loss: 0.5723 - accuracy: 0.7506
Epoch 20/50
38/38 [==============================] - 0s 836us/step - loss: 0.5692 - accuracy: 0.7523
Epoch 21/50
38/38 [==============================] - 0s 782us/step - loss: 0.5667 - accuracy: 0.7481
Epoch 22/50
38/38 [==============================] - 0s 768us/step - loss: 0.5639 - accuracy: 0.7490
Epoch 23/50
38/38 [==============================] - 0s 890us/step - loss: 0.5617 - accuracy: 0.7523
Epoch 24/50
38/38 [==============================] - 0s 782us/step - loss: 0.5586 - accuracy: 0.7465
Epoch 25/50
38/38 [==============================] - 0s 755us/step - loss: 0.5562 - accuracy: 0.7515
Epoch 26/50
38/38 [==============================] - 0s 809us/step - loss: 0.5542 - accuracy: 0.7515
Epoch 27/50
38/38 [==============================] - 0s 755us/step - loss: 0.5517 - accuracy: 0.7498
Epoch 28/50
38/38 [==============================] - 0s 741us/step - loss: 0.5497 - accuracy: 0.7481
Epoch 29/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5475 - accuracy: 0.7490
Epoch 30/50
38/38 [==============================] - 0s 782us/step - loss: 0.5455 - accuracy: 0.7540
Epoch 31/50
38/38 [==============================] - 0s 782us/step - loss: 0.5442 - accuracy: 0.7473
Epoch 32/50
38/38 [==============================] - 0s 782us/step - loss: 0.5420 - accuracy: 0.7473
Epoch 33/50
38/38 [==============================] - 0s 768us/step - loss: 0.5402 - accuracy: 0.7490
Epoch 34/50
38/38 [==============================] - 0s 782us/step - loss: 0.5382 - accuracy: 0.7481
Epoch 35/50
38/38 [==============================] - 0s 755us/step - loss: 0.5365 - accuracy: 0.7531
Epoch 36/50
38/38 [==============================] - 0s 781us/step - loss: 0.5359 - accuracy: 0.7523
Epoch 37/50
38/38 [==============================] - 0s 782us/step - loss: 0.5336 - accuracy: 0.7531
Epoch 38/50
38/38 [==============================] - 0s 755us/step - loss: 0.5323 - accuracy: 0.7548
Epoch 39/50
38/38 [==============================] - 0s 768us/step - loss: 0.5304 - accuracy: 0.7515
Epoch 40/50
38/38 [==============================] - 0s 755us/step - loss: 0.5289 - accuracy: 0.7573
Epoch 41/50
38/38 [==============================] - 0s 782us/step - loss: 0.5279 - accuracy: 0.7598
Epoch 42/50
38/38 [==============================] - 0s 782us/step - loss: 0.5259 - accuracy: 0.7573
Epoch 43/50
38/38 [==============================] - 0s 809us/step - loss: 0.5244 - accuracy: 0.7540
Epoch 44/50
38/38 [==============================] - 0s 755us/step - loss: 0.5230 - accuracy: 0.7606
Epoch 45/50
38/38 [==============================] - 0s 822us/step - loss: 0.5218 - accuracy: 0.7615
Epoch 46/50
38/38 [==============================] - 0s 755us/step - loss: 0.5204 - accuracy: 0.7590
Epoch 47/50
38/38 [==============================] - 0s 782us/step - loss: 0.5190 - accuracy: 0.7590
Epoch 48/50
38/38 [==============================] - 0s 755us/step - loss: 0.5178 - accuracy: 0.7640
Epoch 49/50
38/38 [==============================] - 0s 782us/step - loss: 0.5166 - accuracy: 0.7640
Epoch 50/50
38/38 [==============================] - 0s 755us/step - loss: 0.5154 - accuracy: 0.7673

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [38]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
model_loss, model_accuracy

13/13 - 0s - loss: 0.5352 - accuracy: 0.7525 - 129ms/epoch - 10ms/step

(0.535210371017456, 0.7524999976158142)

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [39]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [40]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
student_loans_model = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [41]:
# Make predictions with the test data
predictions = student_loans_model.predict(X_test_scaled)

# Display a sample of the predictions
predictions

13/13 [==============================] - 0s 831us/step

array([[0.45743337],
       [0.42749435],
       [0.750168  ],
       [0.66174984],
       [0.750168  ],
       [0.5741174 ],
       [0.750168  ],
       [0.2578944 ],
       [0.6251825 ],
       [0.322058  ],
       [0.750168  ],
       [0.3378563 ],
       [0.5434498 ],
       [0.750168  ],
       [0.4652278 ],
       [0.3283985 ],
       [0.66554815],
       [0.42366225],
       [0.43321207],
       [0.50551355],
       [0.6898595 ],
       [0.6778947 ],
       [0.30527833],
       [0.750168  ],
       [0.49730965],
       [0.750168  ],
       [0.750168  ],
       [0.678883  ],
       [0.31055328],
       [0.46237904],
       [0.5519364 ],
       [0.750168  ],
       [0.25338393],
       [0.750168  ],
       [0.13721667],
       [0.5306455 ],
       [0.20448689],
       [0.36724466],
       [0.750168  ],
       [0.13775116],
       [0.750168  ],
       [0.06612382],
       [0.12216248],
       [0.74946284],
       [0.05629456],
       [0.5463746 ],
       [0.19705185],
       [0.29519004],
       [0.38352743],
       [0.750168  ],
       [0.19142428],
       [0.22676761],
       [0.750168  ],
       [0.04084018],
       [0.17113256],
       [0.64101523],
       [0.750168  ],
       [0.65308166],
       [0.73918444],
       [0.19549674],
       [0.750168  ],
       [0.1910918 ],
       [0.23764263],
       [0.569861  ],
       [0.01555712],
       [0.44138226],
       [0.750168  ],
       [0.41537893],
       [0.750168  ],
       [0.750168  ],
       [0.13721667],
       [0.750168  ],
       [0.7087912 ],
       [0.73115575],
       [0.28163102],
       [0.4219379 ],
       [0.750168  ],
       [0.16715266],
       [0.3061453 ],
       [0.70139277],
       [0.750168  ],
       [0.16095379],
       [0.08515884],
       [0.55030084],
       [0.5724476 ],
       [0.10119097],
       [0.17352611],
       [0.74592334],
       [0.30135778],
       [0.63547844],
       [0.25145462],
       [0.750168  ],
       [0.14530341],
       [0.750168  ],
       [0.7253362 ],
       [0.33621716],
       [0.750168  ],
       [0.5545023 ],
       [0.35724965],
       [0.750168  ],
       [0.61390543],
       [0.18851198],
       [0.20840998],
       [0.18846005],
       [0.09303635],
       [0.47658554],
       [0.7413705 ],
       [0.40385982],
       [0.650876  ],
       [0.59001493],
       [0.750168  ],
       [0.5623638 ],
       [0.750168  ],
       [0.3340097 ],
       [0.27916834],
       [0.750168  ],
       [0.29948935],
       [0.05457545],
       [0.26815984],
       [0.19490762],
       [0.05637671],
       [0.750168  ],
       [0.750168  ],
       [0.16857788],
       [0.25368047],
       [0.6201285 ],
       [0.63856924],
       [0.2544161 ],
       [0.750168  ],
       [0.62826747],
       [0.4985598 ],
       [0.20872456],
       [0.750168  ],
       [0.09467631],
       [0.74672204],
       [0.750168  ],
       [0.13947102],
       [0.750168  ],
       [0.3357039 ],
       [0.34330666],
       [0.28780225],
       [0.44310603],
       [0.6429449 ],
       [0.17267738],
       [0.71077573],
       [0.750168  ],
       [0.4683542 ],
       [0.0527039 ],
       [0.7303659 ],
       [0.7106506 ],
       [0.44602507],
       [0.750168  ],
       [0.29075235],
       [0.23144606],
       [0.750168  ],
       [0.750168  ],
       [0.750168  ],
       [0.750168  ],
       [0.5796566 ],
       [0.5382633 ],
       [0.750168  ],
       [0.62339884],
       [0.32181013],
       [0.19317608],
       [0.750168  ],
       [0.750168  ],
       [0.6131175 ],
       [0.1319375 ],
       [0.25108972],
       [0.750168  ],
       [0.22602803],
       [0.73453015],
       [0.1871001 ],
       [0.33157244],
       [0.750168  ],
       [0.37259427],
       [0.41694528],
       [0.08240323],
       [0.36566368],
       [0.33621716],
       [0.6066356 ],
       [0.750168  ],
       [0.6331921 ],
       [0.5673929 ],
       [0.750168  ],
       [0.750168  ],
       [0.750168  ],
       [0.55723095],
       [0.3547721 ],
       [0.12127078],
       [0.19202453],
       [0.6838242 ],
       [0.4065439 ],
       [0.09802295],
       [0.750168  ],
       [0.33894706],
       [0.5491697 ],
       [0.37790117],
       [0.28855756],
       [0.37799063],
       [0.750168  ],
       [0.5675462 ],
       [0.750168  ],
       [0.14554572],
       [0.750168  ],
       [0.7196826 ],
       [0.20138913],
       [0.0767329 ],
       [0.750168  ],
       [0.62417495],
       [0.6522487 ],
       [0.63455313],
       [0.20840998],
       [0.750168  ],
       [0.3198609 ],
       [0.16908914],
       [0.17110625],
       [0.14895931],
       [0.72575724],
       [0.6814184 ],
       [0.65299904],
       [0.19874023],
       [0.2294335 ],
       [0.28293774],
       [0.750168  ],
       [0.6622458 ],
       [0.5862109 ],
       [0.58081025],
       [0.750168  ],
       [0.61432654],
       [0.4202571 ],
       [0.22427739],
       [0.750168  ],
       [0.750168  ],
       [0.209586  ],
       [0.08851327],
       [0.750168  ],
       [0.21000393],
       [0.52696675],
       [0.5078451 ],
       [0.750168  ],
       [0.750168  ],
       [0.750168  ],
       [0.3678673 ],
       [0.652861  ],
       [0.750168  ],
       [0.6740173 ],
       [0.26164138],
       [0.07654852],
       [0.37210608],
       [0.15460879],
       [0.15649465],
       [0.750168  ],
       [0.7028535 ],
       [0.750168  ],
       [0.3227203 ],
       [0.26202112],
       [0.09765375],
       [0.37672368],
       [0.750168  ],
       [0.750168  ],
       [0.45971125],
       [0.56087744],
       [0.34772804],
       [0.4218778 ],
       [0.7303659 ],
       [0.6412349 ],
       [0.125654  ],
       [0.03042848],
       [0.750168  ],
       [0.3956172 ],
       [0.6317883 ],
       [0.15974313],
       [0.750168  ],
       [0.0921135 ],
       [0.59056664],
       [0.2687388 ],
       [0.73453015],
       [0.40092766],
       [0.19260177],
       [0.750168  ],
       [0.4821514 ],
       [0.70572877],
       [0.03312974],
       [0.24210168],
       [0.5488878 ],
       [0.6508825 ],
       [0.41989237],
       [0.07108866],
       [0.7069111 ],
       [0.60912436],
       [0.66554815],
       [0.5909076 ],
       [0.4593166 ],
       [0.750168  ],
       [0.70936906],
       [0.1818829 ],
       [0.750168  ],
       [0.17970431],
       [0.22848645],
       [0.67309475],
       [0.750168  ],
       [0.11682403],
       [0.74429774],
       [0.46066374],
       [0.5447415 ],
       [0.08365015],
       [0.750168  ],
       [0.5963224 ],
       [0.06539012],
       [0.3039119 ],
       [0.6174453 ],
       [0.47098747],
       [0.750168  ],
       [0.5328077 ],
       [0.6391951 ],
       [0.23772268],
       [0.22575784],
       [0.750168  ],
       [0.750168  ],
       [0.37218994],
       [0.64688206],
       [0.750168  ],
       [0.1995993 ],
       [0.33894706],
       [0.5744195 ],
       [0.13838209],
       [0.750168  ],
       [0.6236285 ],
       [0.50698555],
       [0.750168  ],
       [0.14842887],
       [0.26724193],
       [0.5539353 ],
       [0.49363905],
       [0.19155744],
       [0.7464307 ],
       [0.750168  ],
       [0.35692835],
       [0.5785263 ],
       [0.2383807 ],
       [0.54205596],
       [0.25032374],
       [0.73078346],
       [0.39250162],
       [0.750168  ],
       [0.750168  ],
       [0.45013162],
       [0.18968937],
       [0.31394675],
       [0.63455313],
       [0.750168  ],
       [0.6911565 ],
       [0.750168  ],
       [0.350018  ],
       [0.30278963],
       [0.750168  ],
       [0.750168  ],
       [0.13947102],
       [0.03783967],
       [0.16855082],
       [0.750168  ],
       [0.15978354],
       [0.750168  ],
       [0.4520199 ],
       [0.18082747],
       [0.36745617],
       [0.22667599],
       [0.750168  ],
       [0.08851327],
       [0.56196856],
       [0.52593684],
       [0.39494023],
       [0.36008003],
       [0.15589465],
       [0.6185304 ],
       [0.750168  ],
       [0.750168  ],
       [0.16908914],
       [0.7080191 ],
       [0.750168  ],
       [0.72063905],
       [0.750168  ],
       [0.7255552 ],
       [0.34516233],
       [0.750168  ],
       [0.2005883 ],
       [0.6762533 ],
       [0.6928535 ],
       [0.5786386 ],
       [0.29844955],
       [0.48148578],
       [0.24852486],
       [0.74488604],
       [0.17954074],
       [0.5063238 ],
       [0.30135778],
       [0.750168  ],
       [0.30731186],
       [0.5442882 ]], dtype=float32)

In [42]:
# Save the predictions to a DataFrame and round the predictions to binary results
df = pd.DataFrame({"Predicted Values": predictions[:, 0]})
df["Predicted Values"] = df["Predicted Values"].apply(round)
df.head(30)

    Predicted Values
0                  0
1                  0
2                  1
3                  1
4                  1
5                  1
6                  1
7                  0
8                  1
9                  0
10                 1
11                 0
12                 1
13                 1
14                 0
15                 0
16                 1
17                 0
18                 0
19                 1
20                 1
21                 1
22                 0
23                 1
24                 0
25                 1
26                 1
27                 1
28                 0
29                 0

### Step 4: Display a classification report with the y test data and predictions

In [43]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, df["Predicted Values"]))

              precision    recall  f1-score   support

           0       0.73      0.74      0.74       188
           1       0.77      0.76      0.76       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**